In [6]:
#function to print 5 rows
def five_rows(table):
    count = 0
    
    if type(table) == dict:
        for row in table:
            count += 1 
            print(row,table[row])
            if count == 5:
                break
    else:
        for row in table:
            count += 1 
            print(row)
            if count == 5:
                break
                
def print_line(dot=False):
    if dot == True:
        print('---------------------------')
    else:
        print('___________________________')

In [2]:
import unicodecsv

def read_csv(filename):
    with open(filename, 'rb') as f:
        reader = unicodecsv.DictReader(f)
        return list(reader)

employment_above_15 = read_csv('employment_above_15.csv')
female_completion_rate = read_csv('female_completion_rate.csv')
gdp_per_capita = read_csv('gdp_per_capita.csv')
life_expectancy = read_csv('life_expectancy.csv')
male_completion_rate = read_csv('male_completion_rate.csv')

In [7]:
five_rows(employment_above_15)
print_line(dot=True)
five_rows(female_completion_rate)
print_line(dot=True)
five_rows(male_completion_rate)
print_line(dot=True)
five_rows(life_expectancy)
print_line(dot=True)
five_rows(gdp_per_capita)

{'1996': '56.0999984741', '2003': '54.4000015259', '2004': '56', '1994': '56.2000007629', '1998': '56.2000007629', '2000': '56.0999984741', 'Country': 'Afghanistan', '2001': '56.5', '1995': '56.2000007629', '1991': '56.7000007629', '2002': '56.4000015259', '1992': '56.5', '2007': '55.7000007629', '2005': '54', '1997': '56.2000007629', '1999': '56.0999984741', '1993': '56.5999984741', '2006': '56'}
{'1996': '52.5999984741', '2003': '51.7999992371', '2004': '51.7000007629', '1994': '52.7000007629', '1998': '52.0999984741', '2000': '51.9000015259', 'Country': 'Albania', '2001': '51.7999992371', '1995': '52.7999992371', '1991': '52.7000007629', '2002': '51.7999992371', '1992': '52.2999992371', '2007': '51.4000015259', '2005': '51.5', '1997': '52.4000015259', '1999': '52.0999984741', '1993': '52.4000015259', '2006': '51.4000015259'}
{'1996': '38.9000015259', '2003': '42.7999992371', '2004': '46.4000015259', '1994': '39.4000015259', '1998': '39.5', '2000': '38.5999984741', 'Country': 'Algeria', '2001': '40.4000015259', '1995': '38.0999984741', '1991': '39.4000015259', '2002': '41.5', '1992': '38.9000015259', '2007': '50.5', '2005': '48', '1997': '39.7000007629', '1999': '39.4000015259', '1993': '39.4000015259', '2006': '50'}
{'1996': '75.9000015259', '2003': '75.5', '2004': '75.5', '1994': '75.9000015259', '1998': '75.5999984741', '2000': '75.5', 'Country': 'Angola', '2001': '75.5', '1995': '75.8000030518', '1991': '75.8000030518', '2002': '75.5999984741', '1992': '75.8000030518', '2007': '75.6999969482', '2005': '75.5999984741', '1997': '75.6999969482', '1999': '75.5999984741', '1993': '75.5', '2006': '75.5'}
{'1996': '54.4000015259', '2003': '57.2999992371', '2004': '57.7000007629', '1994': '53.7999992371', '1998': '55', '2000': '55.5', 'Country': 'Argentina', '2001': '55.5999984741', '1995': '53.5', '1991': '53.5999984741', '2002': '55.4000015259', '1992': '53.7999992371', '2007': '58.4000015259', '2005': '58.0999984741', '1997': '54.9000015259', '1999': '54.9000015259', '1993': '53.7000007629', '2006': '58.4000015259'}
---------------------------
{'2008': '', '1991': '', '1977': '', '1995': '', '1984': '', '1972': '', '1989': '', '2000': '', '1976': '', '1980': '', '1983': '', '1994': '', '1992': '', '2003': '', '1987': '', '1993': '', '1971': '', '1981': '', 'Country': 'Abkhazia', '1973': '', '1974': '', '2009': '', '1996': '', '2004': '', '1970': '', '1986': '', '1998': '', '1999': '', '2011': '', '1975': '', '1988': '', '1985': '', '1990': '', '1978': '', '2002': '', '1982': '', '2010': '', '2007': '', '2005': '', '1997': '', '1979': '', '2001': '', '2006': ''}
{'2008': '', '1991': '', '1977': '5.14529', '1995': '', '1984': '10.37689', '1972': '', '1989': '', '2000': '', '1976': '', '1980': '8.72819', '1983': '', '1994': '', '1992': '', '2003': '', '1987': '', '1993': '13.5525', '1971': '', '1981': '12.38975', 'Country': 'Afghanistan', '1973': '', '1974': '4.19285', '2009': '', '1996': '', '2004': '', '1970': '', '1986': '', '1998': '', '1999': '', '2011': '', '1975': '', '1988': '', '1985': '10.51868', '1990': '', '1978': '5.91965', '2002': '', '1982': '7.5399', '2010': '', '2007': '', '2005': '18.74188', '1997': '', '1979': '', '2001': '', '2006': ''}
{'2008': '', '1991': '', '1977': '', '1995': '', '1984': '', '1972': '', '1989': '', '2000': '', '1976': '', '1980': '', '1983': '', '1994': '', '1992': '', '2003': '', '1987': '', '1993': '', '1971': '', '1981': '', 'Country': 'Akrotiri and Dhekelia', '1973': '', '1974': '', '2009': '', '1996': '', '2004': '', '1970': '', '1986': '', '1998': '', '1999': '', '2011': '', '1975': '', '1988': '', '1985': '', '1990': '', '1978': '', '2002': '', '1982': '', '2010': '', '2007': '', '2005': '', '1997': '', '1979': '', '2001': '', '2006': ''}
{'2008': '90.41091', '1991': '', '1977': '', '1995': '', '1984': '', '1972': '', '1989': '', '2000': '102.26713', '1976': '', '1980': '', '1983': '', '1994': '', '1992': '', '2003': '100.27718', '1987': '', '1993': '', '1971': '', '1981': '', 'Country': 'Albania', '1973': '', '1974': '', '2009': '89.7601', '1996': '94.18927', '2004': '97.70814', '1970': '', '1986': '', '1998': '', '1999': '103.19619', '2011': '89.53901', '1975': '', '1988': '', '1985': '', '1990': '', '1978': '', '2002': '', '1982': '', '2010': '86.01452', '2007': '', '2005': '', '1997': '', '1979': '', '2001': '103.25462', '2006': ''}
{'2008': '109.72854', '1991': '73.08401', '1977': '48.22515', '1995': '75.87622', '1984': '65.58597', '1972': '30.90031', '1989': '73.15405', '2000': '82.235', '1976': '45.24156', '1980': '52.10572', '1983': '61.84179', '1994': '73.94814', '1992': '75.49738', '2003': '91.27633', '1987': '68.3323', '1993': '74.73254', '1971': '', '1981': '55.0174', 'Country': 'Algeria', '1973': '33.02938', '1974': '34.32702', '2009': '95.13346', '1996': '79.88931', '2004': '93.30839', '1970': '', '1986': '65.21181', '1998': '', '1999': '83.46064', '2011': '94.20928', '1975': '39.7942', '1988': '69.9132', '1985': '77.1745', '1990': '72.54374', '1978': '50.49138', '2002': '90.09179', '1982': '59.0781', '2010': '95.87439', '2007': '97.35583', '2005': '94.21432', '1997': '82.44316', '1979': '51.07383', '2001': '88.52598', '2006': ''}
---------------------------
{'2008': '', '1991': '', '1977': '', '1995': '', '1984': '', '1972': '', '1989': '', '2000': '', '1976': '', '1980': '', '1983': '', '1994': '', '1992': '', '2003': '', '1987': '', '1993': '', '1971': '', '1981': '', 'Country': 'Abkhazia', '1973': '', '1974': '', '2009': '', '1996': '', '2004': '', '1970': '', '1986': '', '1998': '', '1999': '', '2011': '', '1975': '', '1988': '', '1985': '', '1990': '', '1978': '', '2002': '', '1982': '', '2010': '', '2007': '', '2005': '', '1997': '', '1979': '', '2001': '', '2006': ''}
{'2008': '', '1991': '', '1977': '26.73849', '1995': '', '1984': '23.32496', '1972': '', '1989': '', '2000': '', '1976': '', '1980': '40.01639', '1983': '', '1994': '', '1992': '', '2003': '', '1987': '', '1993': '38.75994', '1971': '', '1981': '48.30713', 'Country': 'Afghanistan', '1973': '', '1974': '26.23178', '2009': '', '1996': '', '2004': '', '1970': '', '1986': '', '1998': '', '1999': '', '2011': '', '1975': '', '1988': '', '1985': '24.62096', '1990': '', '1978': '29.07336', '2002': '', '1982': '17.28688', '2010': '', '2007': '', '2005': '48.3607', '1997': '', '1979': '', '2001': '', '2006': ''}
{'2008': '', '1991': '', '1977': '', '1995': '', '1984': '', '1972': '', '1989': '', '2000': '', '1976': '', '1980': '', '1983': '', '1994': '', '1992': '', '2003': '', '1987': '', '1993': '', '1971': '', '1981': '', 'Country': 'Akrotiri and Dhekelia', '1973': '', '1974': '', '2009': '', '1996': '', '2004': '', '1970': '', '1986': '', '1998': '', '1999': '', '2011': '', '1975': '', '1988': '', '1985': '', '1990': '', '1978': '', '2002': '', '1982': '', '2010': '', '2007': '', '2005': '', '1997': '', '1979': '', '2001': '', '2006': ''}
{'2008': '89.44897', '1991': '', '1977': '', '1995': '', '1984': '', '1972': '', '1989': '', '2000': '101.19881', '1976': '', '1980': '', '1983': '', '1994': '', '1992': '', '2003': '101.90853', '1987': '', '1993': '', '1971': '', '1981': '', 'Country': 'Albania', '1973': '', '1974': '', '2009': '88.83622', '1996': '92.00994', '2004': '99.10666', '1970': '', '1986': '', '1998': '', '1999': '102.1416', '2011': '88.18113', '1975': '', '1988': '', '1985': '', '1990': '', '1978': '', '2002': '', '1982': '', '2010': '86.49044', '2007': '', '2005': '', '1997': '', '1979': '', '2001': '103.35154', '2006': ''}
{'2008': '121.33472', '1991': '85.5203', '1977': '75.0438', '1995': '84.15162', '1984': '87.95805', '1972': '55.3917', '1989': '90.84413', '2000': '82.59953', '1976': '72.58079', '1980': '74.14495', '1983': '82.05522', '1994': '84.10695', '1992': '87.70946', '2003': '92.04006', '1987': '86.84667', '1993': '86.37179', '1971': '', '1981': '79.81293', 'Country': 'Algeria', '1973': '57.41252', '1974': '60.71733', '2009': '93.1644', '1996': '86.85244', '2004': '92.68131', '1970': '', '1986': '85.30478', '1998': '', '1999': '85.95268', '2011': '94.51607', '1975': '66.29215', '1988': '87.73683', '1985': '105.11991', '1990': '88.98967', '1978': '77.39284', '2002': '90.34439', '1982': '79.17959', '2010': '96.09082', '2007': '95.47622', '2005': '94.66572', '1997': '86.53181', '1979': '76.08493', '2001': '88.9309', '2006': ''}
---------------------------
{'1808': '28.1290266667', '2003': '52.1', '1894': '27.2478133333', '1950': '26.674', '1897': '27.2170733333', '1919': '26.9916466667', '1976': '39.417', '1809': '28.11878', '1865': '27.5449666667', '1832': '27.8831066667', '1862': '27.5757066667', '2010': '54.8', '1821': '27.99582', '1882': '27.3707733333', '1978': '40.298', '1909': '27.0941133333', '2012': '55.5', '1998': '50', '1904': '27.1453466667', '1944': '26.73548', '1867': '27.5244733333', '1906': '27.1248533333', '1902': '27.16584', '1895': '27.2375666667', '1964': '33.639', '1804': '28.1700133333', '1973': '38.075', '1819': '28.0163133333', '1888': '27.3092933333', '2013': '56.2', '1800': '28.211', '1959': '31.059', '1856': '27.6371866667', '1881': '27.38102', 'Country': 'Afghanistan', '1990': '50.3', '1970': '36.663', '1996': '50.6', '1916': '27.0223866667', '1923': '26.95066', '1913': '27.0531266667', '1871': '27.4834866667', '1893': '27.25806', '1918': '7.04506271', '1932': '26.85844', '1884': '27.35028', '1965': '34.152', '1864': '27.5552133333', '1910': '27.0838666667', '1925': '26.9301666667', '1885': '27.3400333333', '1863': '27.56546', '1936': '26.8174533333', '1826': '27.9445866667', '1977': '39.855', '1890': '27.2888', '1845': '27.7499', '2001': '51.1', '1962': '32.608', '1839': '27.81138', '1941': '26.76622', '1927': '26.9096733333', '1842': '27.78064', '1898': '27.2068266667', '1820': '28.0060666667', '1931': '26.8686866667', '1815': '28.0573', '1828': '27.9240933333', '1929': '26.88918', '1827': '27.93434', '1887': '27.31954', '2002': '51.6', '1948': '26.6944933333', '2005': '52.9', '1968': '35.674', '1854': '27.65768', '1803': '28.18026', '1966': '34.662', '1980': '41.242', '1900': '27.1863333333', '1816': '28.0470533333', '1806': '28.14952', '1911': '27.07362', '1872': '27.47324', '1958': '30.543', '1899': '27.19658', '1874': '27.4527466667', '1868': '27.5142266667', '1812': '28.08804', '1952': '27.448', '2004': '52.5', '1912': '27.0633733333', '1993': '50.5', '1830': '27.9036', '1956': '29.511', '1975': '38.977', '1907': '27.1146066667', '1886': '27.3297866667', '1801': '28.2007533333', '1896': '27.22732', '1908': '27.10436', '1861': '27.5859533333', '1933': '26.8481933333', '1823': '27.9753266667', '1859': '27.6064466667', '1892': '27.2683066667', '1814': '28.0675466667', '1813': '28.0777933333', '1920': '26.9814', '1875': '27.4425', '1810': '28.1085333333', '2006': '53.2', '1972': '37.614', '1921': '26.9711533333', '1960': '31.575', '1945': '26.7252333333', '1869': '27.50398', '1947': '26.70474', '1835': '27.8523666667', '1834': '27.8626133333', '1997': '50.7', '1857': '27.62694', '2008': '54', '2011': '55.2', '1825': '27.9548333333', '1841': '27.7908866667', '1924': '26.9404133333', '1847': '27.7294066667', '1855': '27.6474333333', '1953': '27.964', '1848': '27.71916', '1974': '38.529', '1934': '26.8379466667', '1822': '27.9855733333', '1930': '26.8789333333', '1903': '27.1555933333', '1811': '28.0982866667', '1969': '36.172', '1851': '27.68842', '1961': '32.091', '1876': '27.4322533333', '1992': '50.4', '1802': '28.1905066667', '1870': '27.4937333333', '1836': '27.84212', '1951': '26.932', '1935': '26.8277', '1879': '27.4015133333', '1915': '27.0326333333', '1818': '28.02656', '1917': '27.01214', '1838': '27.8216266667', '1833': '27.87286', '1860': '27.5962', '1873': '27.4629933333', '1995': '50.4', '1889': '27.2990466667', '1939': '26.7867133333', '1926': '26.91992', '1829': '27.9138466667', '1946': '26.7149866667', '1866': '27.53472', '1971': '37.143', '1853': '27.6679266667', '1883': '27.3605266667', '2007': '53.6', '1880': '27.3912666667', '1891': '27.2785533333', '1824': '27.96508', '1877': '27.4220066667', '1963': '33.124', '1991': '50.2', '1928': '26.8994266667', '1843': '27.7703933333', '1954': '28.48', '1849': '27.7089133333', '1840': '27.8011333333', '1878': '27.41176', '1937': '26.8072066667', '1805': '28.1597666667', '1955': '28.995', '2000': '51', '1914': '27.04288', '1850': '27.6986666667', '1938': '26.79696', '1940': '26.7764666667', '1994': '50.1', '1846': '27.7396533333', '1967': '35.17', '1999': '50.8', '2009': '54.5', '1837': '27.8318733333', '1922': '26.9609066667', '1943': '26.7457266667', '1901': '27.1760866667', '1905': '27.1351', '1949': '26.6842466667', '1858': '27.6166933333', '1831': '27.8933533333', '1807': '28.1392733333', '1979': '40.756', '1844': '27.7601466667', '1957': '30.027', '1817': '28.0368066667', '1942': '26.7559733333', '1852': '27.6781733333'}
{'1808': '35.4', '2003': '74.4', '1894': '35.4', '1950': '54.191', '1897': '35.4', '1919': '35.4', '1976': '69.121', '1809': '35.4', '1865': '35.4', '1832': '35.4', '1862': '35.4', '2010': '75.2', '1821': '35.4', '1882': '35.4', '1978': '69.753', '1909': '35.4', '2012': '75.7', '1998': '73.8', '1904': '35.4', '1944': '34', '1867': '35.4', '1906': '35.4', '1902': '35.4', '1895': '35.4', '1964': '65.475', '1804': '35.4', '1973': '67.966', '1819': '35.4', '1888': '35.4', '2013': '75.8', '1800': '35.4', '1959': '61.196', '1856': '35.4', '1881': '35.4', 'Country': 'Albania', '1990': '73.5', '1970': '66.948', '1996': '73.9', '1916': '35.4', '1923': '35.4', '1913': '35.4', '1871': '35.4', '1893': '35.4', '1918': '19.4279319177', '1932': '38.0844285714', '1884': '35.4', '1965': '65.863', '1864': '35.4', '1910': '35.4', '1925': '35.4', '1885': '35.4', '1863': '35.4', '1936': '41.6636666667', '1826': '35.4', '1977': '69.459', '1890': '35.4', '1845': '35.4', '2001': '74.4', '1962': '64.202', '1839': '35.4', '1941': '41.5', '1927': '35.4', '1842': '35.4', '1898': '35.4', '1820': '35.4', '1931': '37.1896190476', '1815': '35.4', '1828': '35.4', '1929': '35.4', '1827': '35.4', '1887': '35.4', '2002': '74.5', '1948': '52.4013809524', '2005': '74.4', '1968': '66.5', '1854': '35.4', '1803': '35.4', '1966': '66.122', '1980': '70.218', '1900': '35.4', '1816': '35.4', '1806': '35.4', '1911': '35.4', '1872': '35.4', '1958': '60.073', '1899': '35.4', '1874': '35.4', '1868': '35.4', '1812': '35.4', '1952': '54.876', '2004': '74.4', '1912': '35.4', '1993': '73.4', '1830': '35.4', '1956': '57.947', '1975': '68.748', '1907': '35.4', '1886': '35.4', '1801': '35.4', '1896': '35.4', '1908': '35.4', '1861': '35.4', '1933': '38.9792380952', '1823': '35.4', '1859': '35.4', '1892': '35.4', '1814': '35.4', '1813': '35.4', '1920': '35.4', '1875': '35.4', '1810': '35.4', '2006': '74.5', '1972': '67.595', '1921': '35.4', '1960': '62.293', '1945': '47', '1869': '35.4', '1947': '51.5065714286', '1835': '35.4', '1834': '35.4', '1997': '73.9', '1857': '35.4', '2008': '74.9', '2011': '75.5', '1825': '35.4', '1841': '35.4', '1924': '35.4', '1847': '35.4', '1855': '35.4', '1953': '55.471', '1848': '35.4', '1974': '68.356', '1934': '39.874047619', '1822': '35.4', '1930': '36.2948095238', '1903': '35.4', '1811': '35.4', '1969': '66.702', '1851': '35.4', '1961': '63.313', '1876': '35.4', '1992': '73.4', '1802': '35.4', '1870': '35.4', '1836': '35.4', '1951': '54.399', '1935': '40.7688571429', '1879': '35.4', '1915': '35.4', '1818': '35.4', '1917': '35.4', '1838': '35.4', '1833': '35.4', '1860': '35.4', '1873': '35.4', '1995': '73.8', '1889': '35.4', '1939': '43', '1926': '35.4', '1829': '35.4', '1946': '50', '1866': '35.4', '1971': '67.251', '1853': '35.4', '1883': '35.4', '2007': '74.7', '1880': '35.4', '1891': '35.4', '1824': '35.4', '1877': '35.4', '1963': '64.926', '1991': '73.4', '1928': '35.4', '1843': '35.4', '1954': '56.184', '1849': '35.4', '1840': '35.4', '1878': '35.4', '1937': '42.5584761905', '1805': '35.4', '1955': '57.012', '2000': '74.2', '1914': '35.4', '1850': '35.4', '1938': '43.4532857143', '1940': '42', '1994': '73.6', '1846': '35.4', '1967': '66.316', '1999': '74', '2009': '75', '1837': '35.4', '1922': '35.4', '1943': '37', '1901': '35.4', '1905': '35.4', '1949': '53.2961904762', '1858': '35.4', '1831': '35.4', '1807': '35.4', '1979': '70.001', '1844': '35.4', '1957': '58.976', '1817': '35.4', '1942': '40', '1852': '35.4'}

**Research questions based on data descriptions**
1. How much does unemployment levels and GDP correlate year over year and per country?
2. How much does male and female graduation rates affect unemployment? 
3. Does one gender's graduation rate matter more than the others?
4. Which of the four other variables correlate the most with life expectancy?
5. Are the correlation levels uniform for all countries, or do they differ?

In [2]:
#One-dimensional data import in pandas, 1
import pandas as pd

In [12]:
#One-dimensional data import in pandas, 2
daily_engagement = pd.read_csv(
'/Users/ggaasemyr/Documents/udacity/ipython_notebooks/p2_investigate_dataset/intro_data_analysis/daily_engagement_full.csv'
)
#it loads much faster than the standard python csv library

In [14]:
#One-dimensional data import in pandas, 3
len(daily_engagement['acct'].unique())

1237

numpy = numerical python

**pandas series** has more features than **numpy arrays**, and are genereally preferred
- Numpy arrays are simpler
- Pandas series is built on on numpy arrays
- It is important to understand numpy arrays when working with series


**Numpy arrays**
- Features sequel of elements
- Similar to python list
    - Similarities:
        - Access elements by position
        - Access a range of elements(a[1:3])
        - Use loops (for x in y)
    - Differences
        - Each element should have same type (string, int, boolean etc.)
        - Convenient functions available (mean(), std(), etc.)
        - Can be multi-dimensional (similar to list of lists)

In [18]:
#Quiz: numpy arrays
import numpy as np

# First 20 countries with employment data
countries = np.array([
    'Afghanistan', 'Albania', 'Algeria', 'Angola', 'Argentina',
    'Armenia', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas',
    'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium',
    'Belize', 'Benin', 'Bhutan', 'Bolivia',
    'Bosnia and Herzegovina'
])

# Employment data in 2007 for those 20 countries
employment = np.array([
    55.70000076,  51.40000153,  50.5       ,  75.69999695,
    58.40000153,  40.09999847,  61.5       ,  57.09999847,
    60.90000153,  66.59999847,  60.40000153,  68.09999847,
    66.90000153,  53.40000153,  48.59999847,  56.79999924,
    71.59999847,  58.40000153,  70.40000153,  41.20000076
])

# Change False to True for each block of code to see what it does

# Accessing elements
if True:
    print(countries[0])
    print(countries[3])

# Slicing
if True:
    print(countries[0:3])
    print(countries[:3])
    print(countries[17:])
    print(countries[:])

# Element types
if True:
    print(countries.dtype)
    print(employment.dtype)
    print(np.array([0, 1, 2, 3]).dtype)
    print(np.array([1.0, 1.5, 2.0, 2.5]).dtype)
    print(np.array([True, False, True]).dtype)
    print(np.array(['AL', 'AK', 'AZ', 'AR', 'CA']).dtype)

# Looping
if True:
    for country in countries:
        print('Examining country {}'.format(country))

    for i in range(len(countries)):
        country = countries[i]
        country_employment = employment[i]
        print('Country {} has employment {}'.format(country,
                country_employment))

# Numpy functions
if True:
    print(employment.mean())
    print(employment.std())
    print(employment.max())
    print(employment.sum())

def max_employment(countries, employment):
    '''
    Fill in this function to return the name of the country
    with the highest employment in the given employment
    data, and the employment in that country.
    '''
    max_value = employment.max()   # Replace this with your code

    count = -1

    for i in employment:
        count += 1
        if i == max_value:
            array_position = count
            break
    
    max_country = countries[array_position]      # Replace this with your code

    return (max_country, max_value)

Afghanistan
Angola
['Afghanistan' 'Albania' 'Algeria']
['Afghanistan' 'Albania' 'Algeria']
['Bhutan' 'Bolivia' 'Bosnia and Herzegovina']
['Afghanistan' 'Albania' 'Algeria' 'Angola' 'Argentina' 'Armenia'
 'Australia' 'Austria' 'Azerbaijan' 'Bahamas' 'Bahrain' 'Bangladesh'
 'Barbados' 'Belarus' 'Belgium' 'Belize' 'Benin' 'Bhutan' 'Bolivia'
 'Bosnia and Herzegovina']
<U22
float64
int64
float64
bool
<U2
Examining country Afghanistan
Examining country Albania
Examining country Algeria
Examining country Angola
Examining country Argentina
Examining country Armenia
Examining country Australia
Examining country Austria
Examining country Azerbaijan
Examining country Bahamas
Examining country Bahrain
Examining country Bangladesh
Examining country Barbados
Examining country Belarus
Examining country Belgium
Examining country Belize
Examining country Benin
Examining country Bhutan
Examining country Bolivia
Examining country Bosnia and Herzegovina
Country Afghanistan has employment 55.70000076
Country Albania has employment 51.40000153
Country Algeria has employment 50.5
Country Angola has employment 75.69999695
Country Argentina has employment 58.40000153
Country Armenia has employment 40.09999847
Country Australia has employment 61.5
Country Austria has employment 57.09999847
Country Azerbaijan has employment 60.90000153
Country Bahamas has employment 66.59999847
Country Bahrain has employment 60.40000153
Country Bangladesh has employment 68.09999847
Country Barbados has employment 66.90000153
Country Belarus has employment 53.40000153
Country Belgium has employment 48.59999847
Country Belize has employment 56.79999924
Country Benin has employment 71.59999847
Country Bhutan has employment 58.40000153
Country Bolivia has employment 70.40000153
Country Bosnia and Herzegovina has employment 41.20000076
58.6850000385
9.33826911369
75.69999695
1173.70000077

In [19]:
max_employment(countries,employment)

('Angola', 75.699996949999999)

In [20]:
#Solution from video, using python
def max_employment(countries,employment):
    max_country = None
    max_employment = 0
    
    for i in range(len(countries)):
        country = countries[i]
        country_employment = employment[i]
        
        if country_employment > max_employment:
            max_country = country
            max_employment = country_employment
            
    return (max_country, max_employment)

In [21]:
max_employment(countries,employment)

('Angola', 75.699996949999999)

**Tips:** If you can't find a specific numpy function to rely on, you can treat the array like a list

In [22]:
#Solution from video, using numpy function
def max_employment2(countries, employment):
    i = employment.argmax()
    return (countries[i],employment[i])

In [24]:
max_employment2(countries,employment)

('Angola', 75.699996949999999)

**Vectorized operations**

A **vector** is a list of numbers


In linear algebra you can add two vectors of the same length.
- this is called **vector addition**
- example: [1,2,3] + [4,5,6] = [5,7,9]
- this is the python (and numpy) way, but it is not necessarily the same in other languages

Multiplying by a scalar
- [1,2,3] * 3 = [3,6,9]
    - This is what numpy does
    - In python the result would be [1,2,3,1,2,3,1,2,3]
    
    
- Math vectorized operations
 - Add: +
 - Subtract: -
 - Multiply: \*
 - Divide: -
 - Exponentiate: \*\*
 
- Math logical operations
 - And: &
 - Or: |
 - Not: ~
 - Make sure you arrays contain booleans!

- Comparison operators
 - Same as python
     
 Using vectorized operators makes data analysis code super clean, and is usually faster than doing

In [34]:
#Quiz: vectorized operations, part 1 (looking at what is returned)

# Change False to True for each block of code to see what it does

# Arithmetic operations between 2 NumPy arrays
if False:
    a = np.array([1, 2, 3, 4])
    b = np.array([1, 2, 1, 2])
    
    print(a + b)
    print(a - b)
    print(a * b)
    print(a / b)
    print(a ** b)
    
    ab = a / b
    print(ab.dtype)
    
# Arithmetic operations between a NumPy array and a single number
if False:
    a = np.array([1, 2, 3, 4])
    b = 2
    
    print(a + b)
    print(a - b)
    print(a * b)
    print(a / b)
    print(a ** b)
    
# Logical operations with NumPy arrays
if False:
    a = np.array([True, True, False, False])
    b = np.array([True, False, True, False])
    
    print(a & b)
    print(a | b)
    print(~a)
    
    print(a & True)
    print(a & False)
    
    print(a | True)
    print(a | False)
    
# Comparison operations between 2 NumPy Arrays
if False:
    a = np.array([1, 2, 3, 4, 5])
    b = np.array([5, 4, 3, 2, 1])
    
    print(a > b)
    print(a >= b)
    print(a < b)
    print(a <= b)
    print(a == b)
    print(a != b)
    
# Comparison operations between a NumPy array and a single number
if False:
    a = np.array([1, 2, 3, 4])
    b = 2
    
    print(a > b)
    print(a >= b)
    print(a < b)
    print(a <= b)
    print(a == b)
    print(a != b)
    
# First 20 countries with school completion data
countries = np.array([
       'Algeria', 'Argentina', 'Armenia', 'Aruba', 'Austria','Azerbaijan',
       'Bahamas', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Bolivia',
       'Botswana', 'Brunei', 'Bulgaria', 'Burkina Faso', 'Burundi',
       'Cambodia', 'Cameroon', 'Cape Verde'
])

# Female school completion rate in 2007 for those 20 countries
female_completion = np.array([
    97.35583,  104.62379,  103.02998,   95.14321,  103.69019,
    98.49185,  100.88828,   95.43974,   92.11484,   91.54804,
    95.98029,   98.22902,   96.12179,  119.28105,   97.84627,
    29.07386,   38.41644,   90.70509,   51.7478 ,   95.45072
])

# Male school completion rate in 2007 for those 20 countries
male_completion = np.array([
     95.47622,  100.66476,   99.7926 ,   91.48936,  103.22096,
     97.80458,  103.81398,   88.11736,   93.55611,   87.76347,
    102.45714,   98.73953,   92.22388,  115.3892 ,   98.70502,
     37.00692,   45.39401,   91.22084,   62.42028,   90.66958
])

In [45]:
#Quiz: vectorized operations, part 2 (writing function)
def overall_completion_rate(female_completion, male_completion):
    '''
    Fill in this function to return a NumPy array containing the overall
    school completion rate for each country. The arguments are NumPy
    arrays giving the female and male completion of each country in
    the same order.
    '''
    overall_completion = np.array(female_completion + male_completion) / 2.0
    return overall_completion

In [46]:
overall_completion_rate(female_completion,male_completion)

array([  96.416025,  102.644275,  101.41129 ,   93.316285,  103.455575,
         98.148215,  102.35113 ,   91.77855 ,   92.835475,   89.655755,
         99.218715,   98.484275,   94.172835,  117.335125,   98.275645,
         33.04039 ,   41.905225,   90.962965,   57.08404 ,   93.06015 ])

In [41]:
female_completion[0]  male_completion[0]

192.83204999999998

Common question in data analysis: how does a single data point compare to the rest of the data points?

Typical way to answer this question:
convert each data point to number of standard deviations away from the mean

In [61]:
#Quiz: Standardizing Data
import numpy as np

# First 20 countries with employment data
countries = np.array([
    'Afghanistan', 'Albania', 'Algeria', 'Angola', 'Argentina',
    'Armenia', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas',
    'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium',
    'Belize', 'Benin', 'Bhutan', 'Bolivia',
    'Bosnia and Herzegovina'
])

# Employment data in 2007 for those 20 countries
employment = np.array([
    55.70000076,  51.40000153,  50.5       ,  75.69999695,
    58.40000153,  40.09999847,  61.5       ,  57.09999847,
    60.90000153,  66.59999847,  60.40000153,  68.09999847,
    66.90000153,  53.40000153,  48.59999847,  56.79999924,
    71.59999847,  58.40000153,  70.40000153,  41.20000076
])

# Change this country name to change what country will be printed when you
# click "Test Run". Your function will be called to determine the standardized
# score for this country for each of the given 5 Gapminder variables in 2007.
# The possible country names are available in the Downloadables section.

country_name = 'United States'

def standardize_data(values):
    '''
    Fill in this function to return a standardized version of the given values,
    which will be in a NumPy array. Each value should be translated into the
    number of standard deviations that value is away from the mean of the data.
    (A positive number indicates a value higher than the mean, and a negative
    number indicates a value lower than the mean.)
    '''
    std_dev = values.std()
    average = values.mean()
    
    standarized = (values - average) / float(std_dev)
    
    return standarized

In [60]:
standardize_data(employment)

array([-0.31965231, -0.780123  , -0.87650077,  1.82207181, -0.03051941,
       -1.99019768,  0.30144772, -0.16973184,  0.23719615,  0.84758731,
        0.18365304,  1.00821665,  0.87971351, -0.56595055, -1.07996476,
       -0.20185762,  1.38301845, -0.03051941,  1.2545153 , -1.87240259])

Yay! Almost same exact logic and structure solution as the instructor! Instructor skipped setting variables, and did everything in the return statement.

**Numpy index arrays**

Example:
~~~~
- a = [1,2,3,4,5]
- b = [False,False,True,True,True] #This is the index array
- a[b]: [3,4,5]
    - alternative way1: b = a > 2
    - alternative way2 (without using b): **a[a > 2]**
        - instructor seems to recommend this way
        - **This is not possible with lists, only numpy arrays**
~~~~

In [64]:
#Testing the above
a = np.array([1,2,3,4,5])
b = a[a>2]

print(b)

[3 4 5]

In [68]:
# NumPy Index Arrays, code examples
import numpy as np

# Change False to True for each block of code to see what it does

# Using index arrays
if False:
    a = np.array([1, 2, 3, 4])
    b = np.array([True, True, False, False])
    
    print(a[b])
    print(a[np.array([True, False, True, False])])
    
# Creating the index array using vectorized operations
if False:
    a = np.array([1, 2, 3, 2, 1])
    b = (a >= 2)
    
    print(a[b])
    print(a[a >= 2])
    
# Creating the index array using vectorized operations on another array
if False:
    a = np.array([1, 2, 3, 4, 5])
    b = np.array([1, 2, 3, 2, 1])
    
    print(b == 2)
    print(a[b == 2])

[False  True False  True False]
[2 4]

In [72]:
#Quiz> NumPy Index Arrays
def mean_time_for_paid_students(time_spent, days_to_cancel):
    '''
    Fill in this function to calculate the mean time spent in the classroom
    for students who stayed enrolled at least (greater than or equal to) 7 days.
    Unlike in Lesson 1, you can assume that days_to_cancel will contain only
    integers (there are no students who have not canceled yet).
    
    The arguments are NumPy arrays. time_spent contains the amount of time spent
    in the classroom for each student, and days_to_cancel contains the number
    of days until each student cancel. The data is given in the same order
    in both arrays.
    '''
    stayed_enrolled = (days_to_cancel >= 7)
    
    return time_spent[stayed_enrolled].mean()

# Time spent in the classroom in the first week for 20 students
time_spent = np.array([
       12.89697233,    0.        ,   64.55043217,    0.        ,
       24.2315615 ,   39.991625  ,    0.        ,    0.        ,
      147.20683783,    0.        ,    0.        ,    0.        ,
       45.18261617,  157.60454283,  133.2434615 ,   52.85000767,
        0.        ,   54.9204785 ,   26.78142417,    0.
])

# Days to cancel for 20 students
days_to_cancel = np.array([
      4,   5,  37,   3,  12,   4,  35,  38,   5,  37,   3,   3,  68,
     38,  98,   2, 249,   2, 127,  35
])

mean_time_for_paid_students(time_spent,days_to_cancel)

41.054003485454537

Here instructor showed both ways: she first created a variable for paid time, and returned paid_time.mean(). She then showed returning the vectorized instead, without creating variable first. She seems to prefer the second way.

**+ vs +=**

- += updates the current array, causing the dependent objects to be updated as well
- = first creates a new array, so dependent objects are not updated
- see code examples below

In [73]:
#+, code example
a = np.array([1,2,3,4])
b = a
a += np.array([1,1,1,1])

print(b)

[2 3 4 5]

In [74]:
#+=, code example
#+, code example
a = np.array([1,2,3,4])
b = a
a + np.array([1,1,1,1])

print(b)

[1 2 3 4]

**In-place vs not in-place**
- += operates in-place, while + does not
    - Operations that are not in place are much easier to think about!

In [77]:
#In-place vs not in-place, code example

a = np.array([1,2,3,4,5])
slice = a[:3]
slice[0] = 100

print(a)

[100   2   3   4   5]

This is different than python lists: lists would print 1 2 3 4 5.

- In numpy, slice doesn't actually create a new array, it creates a view instead.
    - if slice is modified, the original array is modified as well.
    - this makes slicing in numpy very fast
        - also means we need to be very careful when modifiing a slice of an array

**Pandas series**

- Similar to numpy arrays, but with extra functionality
    - e.g. s.describe()
    -Similarities:
        - Accessing elements: s[0], s[3:7]
        - Looping: for x in s
        - Convenient functions: s.mean(), s.max()
        - Vectorized operations: s1 + s2
        - Implemented in C (fast!)

In [95]:
#Pandas Series, code examples

import pandas as pd

countries = ['Albania', 'Algeria', 'Andorra', 'Angola', 'Antigua and Barbuda',
             'Argentina', 'Armenia', 'Australia', 'Austria', 'Azerbaijan',
             'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus',
             'Belgium', 'Belize', 'Benin', 'Bhutan', 'Bolivia']

life_expectancy_values = [74.7,  75. ,  83.4,  57.6,  74.6,  75.4,  72.3,  81.5,  80.2,
                          70.3,  72.1,  76.4,  68.1,  75.2,  69.8,  79.4,  70.8,  62.7,
                          67.3,  70.6]

gdp_values = [ 1681.61390973,   2155.48523109,  21495.80508273,    562.98768478,
              13495.1274663 ,   9388.68852258,   1424.19056199,  24765.54890176,
              27036.48733192,   1945.63754911,  21721.61840978,  13373.21993972,
                483.97086804,   9783.98417323,   2253.46411147,  25034.66692293,
               3680.91642923,    366.04496652,   1175.92638695,   1132.21387981]

# Life expectancy and gdp data in 2007 for 20 countries
life_expectancy = pd.Series(life_expectancy_values)
gdp = pd.Series(gdp_values)

# Change False to True for each block of code to see what it does

# Accessing elements and slicing
if False:
    print(life_expectancy[0])
    print(gdp[3:6])
    
# Looping
if False:
    for country_life_expectancy in life_expectancy:
        print('Examining life expectancy {}'.format(country_life_expectancy))
        
# Pandas functions
if False:
    print(life_expectancy.mean())
    print(life_expectancy.std())
    print(gdp.max())
    print(gdp.sum())

# Vectorized operations and index arrays
if False:
    a = pd.Series([1, 2, 3, 4])
    b = pd.Series([1, 2, 1, 2])
  
    print(a + b)
    print(a * 2)
    print(a >= 3)
    print(a[a >= 3])

0    2
1    4
2    6
3    8
dtype: int64
0    False
1    False
2     True
3     True
dtype: bool
2    3
3    4
dtype: int64

In [145]:
#Quiz1: Pandas Series
def variable_correlation(variable1, variable2):
    '''
    Fill in this function to calculate the number of data points for which
    the directions of variable1 and variable2 relative to the mean are the
    same, and the number of data points for which they are different.
    Direction here means whether each value is above or below its mean.
    
    You can classify cases where the value is equal to the mean for one or
    both variables however you like.
    
    Each argument will be a Pandas series.
    
    For example, if the inputs were pd.Series([1, 2, 3, 4]) and
    pd.Series([4, 5, 6, 7]), then the output would be (4, 0).
    This is because 1 and 4 are both below their means, 2 and 5 are both
    below, 3 and 6 are both above, and 3 and 4 are both above.
    
    On the other hand, if the inputs were pd.Series([1, 2, 3, 4]) and
    pd.Series([7, 6, 5, 4]), then the output would be (0, 4).
    This is because 1 is below its mean but 7 is above its mean, and
    so on.
    '''
    
    greater_index = (variable1 > variable1.mean()) & (variable2 > variable2.mean())
    smaller_index = (variable1 > variable1.mean()) & (variable2 > variable2.mean())
    equal_index = (variable1 == variable1.mean()) & (variable2 == variable2.mean())
     
    num_same_direction = greater_index.sum() + smaller_index.sum() + equal_index.sum()

    num_different_direction = len(variable1) - num_same_direction
    
    return (num_same_direction, num_different_direction)

variable1 = pd.Series([1, 2, 1, 4])
variable2 = pd.Series([4, 5, 6, 7])

variable_correlation(variable1,variable2)

(2, 2)

In [146]:
#Testing correlation function on life expectancy and gdp data

variable_correlation(life_expectancy,gdp)

(16, 4)

The instructor has mostly the same solution, but she adds another Series, is_same_direction.  
~~~~
is_same_direction = both_above | both_below
num_same_direction = is_same_direction.sum()
~~~~

she solved num_different_direction in the same way I did.

First number large, second number small: the variables are positively correlated
First number small, second number large: the variables are negatively correlated
Roughly equal: the variables are not correlated

**Series Indexes**

The main difference between a numpy array and a Pandas series is that series has indexes.

Example of use:
~~~~
#numpy
countries = np.array(['Albania', 'Algeria', 'Andorra', 'Angola'])
life_expectancy = np.array([74.7, 75., 83.4, 57.6])

#Pandas
life_expectancy = pd.Series([74.7, 75., 83.4, 57.6],
                            index =['Albania', 
                            'Algeria', 
                            'Andorra', 
                            'Angola'])
~~~~
A Pandas series is like a cross between a list and a dictionary

- ways to look up series elements
    - life_expectancy[0] => 74.7
    - life_expectancy.loc['Angola'] => 57.6
    - life_expectancy.iloc[0] => 74.7

In [147]:
life_expectancy = pd.Series([74.7, 75., 83.4, 57.6],
                            index =['Albania', 
                            'Algeria', 
                            'Andorra', 
                            'Angola'])

life_expectancy.argmax()

'Andorra'

In [149]:
#Quiz: Series Indexes

countries = [
    'Afghanistan', 'Albania', 'Algeria', 'Angola', 'Argentina',
    'Armenia', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas',
    'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium',
    'Belize', 'Benin', 'Bhutan', 'Bolivia',
    'Bosnia and Herzegovina'
]


employment_values = [
    55.70000076,  51.40000153,  50.5       ,  75.69999695,
    58.40000153,  40.09999847,  61.5       ,  57.09999847,
    60.90000153,  66.59999847,  60.40000153,  68.09999847,
    66.90000153,  53.40000153,  48.59999847,  56.79999924,
    71.59999847,  58.40000153,  70.40000153,  41.20000076
]

# Employment data in 2007 for 20 countries
employment = pd.Series(employment_values, index=countries)

def max_employment(employment):
    '''
    Fill in this function to return the name of the country
    with the highest employment in the given employment
    data, and the employment in that country.
    
    The input will be a Pandas series where the values
    are employment and the index is country names.
    
    Try using the Pandas argmax() function. Documention is
    here: http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.argmax.html
    '''
    max_country = employment.argmax()      
    max_value = employment.loc[max_country]   
    
    return (max_country, max_value)

In [150]:
max_employment(employment)

('Angola', 75.699996949999999)

**Vectorized operations and series index**

- Adding two series (s1 +s2):
    - Added based on index
    - If index does not occur in both s1 and s2, returns NaN (Not a Number)

In [156]:
#Vectorized operations and series index, example code
import pandas as pd

# Change False to True for each block of code to see what it does

# Addition when indexes are the same
if False:
    s1 = pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])
    s2 = pd.Series([10, 20, 30, 40], index=['a', 'b', 'c', 'd'])
    print(s1 + s2)

# Indexes have same elements in a different order
if False:
    s1 = pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])
    s2 = pd.Series([10, 20, 30, 40], index=['b', 'd', 'a', 'c'])
    print(s1 + s2)

# Indexes overlap, but do not have exactly the same elements
if False:
    s1 = pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])
    s2 = pd.Series([10, 20, 30, 40], index=['c', 'd', 'e', 'f'])
    print(s1 + s2)

# Indexes do not overlap
if False:
    s1 = pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])
    s2 = pd.Series([10, 20, 30, 40], index=['e', 'f', 'g', 'h'])
    print(s1 + s2)

a   NaN
b   NaN
c   NaN
d   NaN
e   NaN
f   NaN
g   NaN
h   NaN
dtype: float64

In [160]:
#Removing missing values
s1 = pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])
s2 = pd.Series([10, 20, 30, 40], index=['c', 'd', 'e', 'f'])

print((s1 + s2).dropna())

c    13.0
d    24.0
dtype: float64

In [165]:
#Quiz: Filling missing values

s1 = pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])
s2 = pd.Series([10, 20, 30, 40], index=['c', 'd', 'e', 'f'])

# Try to write code that will add the 2 previous series together,
# but treating missing values from either series as 0. The result
# when printed out should be similar to the following line:
# print pd.Series([1, 2, 13, 24, 30, 40], 
#index=['a', 'b', 'c', 'd', 'e', 'f'])

series_sum = s1.add(s2,fill_value=0)

print(series_sum)

a     1.0
b     2.0
c    13.0
d    24.0
e    30.0
f    40.0
dtype: float64

**Non built-in calculations**
Ways to not use built-in functions or (vectorized) operations.
- Examples
    - Treat the series as a list (for loops etc)
    - Use the function apply()
        - apply() takes a series and a function, and returns a new series
        - is exactly the same as python's map function
        - example:
            - `def add3(x):
                `return x+3`
            - `s.apply(add3) #applies add3 to whole series`
            - This example could also use vectorized operation s+3
        - apply() takes another python function as input (without parenthesis)

In [168]:
# Example pandas apply() usage (although this could have been done
# without apply() using vectorized operations)
s = pd.Series([1, 2, 3, 4, 5])
def add_one(x):
    return x + 1
print(s.apply(add_one))

0    2
1    3
2    4
3    5
4    6
dtype: int64

In [174]:
def testiii(x):
    return x.apply(add_one)

testiii(s)

0    2
1    3
2    4
3    5
4    6
dtype: int64

In [261]:
#Quiz: Pandas Series apply()

names = pd.Series([
    'Andre Agassi',
    'Barry Bonds',
    'Christopher Columbus',
    'Daniel Defoe',
    'Emilio Estevez',
    'Fred Flintstone',
    'Greta Garbo',
    'Humbert Humbert',
    'Ivan Ilych',
    'James Joyce',
    'Keira Knightley',
    'Lois Lane',
    'Mike Myers',
    'Nick Nolte',
    'Ozzy Osbourne',
    'Pablo Picasso',
    'Quirinus Quirrell',
    'Rachael Ray',
    'Susan Sarandon',
    'Tina Turner',
    'Ugueth Urbina',
    'Vince Vaughn',
    'Woodrow Wilson',
    'Yoji Yamada',
    'Zinedine Zidane'
])

def reverse_names(names):
    '''
    Fill in this function to return a new series where each name
    in the input series has been transformed from the format
    "Firstname Lastname" to "Lastname, FirstName".
    
    Try to use the Pandas apply() function rather than a loop.
    '''
    def reverse_name(name):
        
        first_name = name.split()[0]
        last_name = name.split()[1]
        return last_name + ", " + first_name
    
    return names.apply(reverse_name)

In [262]:
#testing function code from above
names=pd.Series(['Andre Agassi', 'Barry Bonds', 'Christopher Columbus', 'Daniel Defoe'],
                index=[0, 1, 2, 3])
print(names)
print("-----")
print(reverse_names(names))
#names.str.split()

0            Andre Agassi
1             Barry Bonds
2    Christopher Columbus
3            Daniel Defoe
dtype: object
-----
0            Agassi, Andre
1             Bonds, Barry
2    Columbus, Christopher
3            Defoe, Daniel
dtype: object

In [ ]:
#Quiz: Plotting in Pandas
import pandas as pd
import seaborn as sns

# The following code reads all the Gapminder data into Pandas DataFrames. You'll
# learn about DataFrames next lesson.

path = '/datasets/ud170/gapminder/'
employment = pd.read_csv(path + 'employment_above_15.csv', index_col='Country')
female_completion = pd.read_csv(path + 'female_completion_rate.csv', index_col='Country')
male_completion = pd.read_csv(path + 'male_completion_rate.csv', index_col='Country')
life_expectancy = pd.read_csv(path + 'life_expectancy.csv', index_col='Country')
gdp = pd.read_csv(path + 'gdp_per_capita.csv', index_col='Country')

# The following code creates a Pandas Series for each variable for the United States.
# You can change the string 'United States' to a country of your choice.

employment_us = employment.loc['United States']
female_completion_us = female_completion.loc['United States']
male_completion_us = male_completion.loc['United States']
life_expectancy_us = life_expectancy.loc['United States']
gdp_us = gdp.loc['United States']

# Uncomment the following line of code to see the available country names
# print employment.index.values

# Use the Series defined above to create a plot of each variable over time for
# the country of your choice. You will only be able to display one plot at a time
# with each "Test Run".

**Random/General tips:**
- You can add booleans in Python!
    - True + True = 2
- Pandas documentation is not perfect: sometimes functions that are documented for dataframe will work for series as well.